node_modules/
node_modules/*
db/*
db/journal
db/diagnostic.data

.DS_Store
.code-workspace 

# exclude everything
static/css/*
static/tmp/*
static/img/profiles/*
static/img/icons/approved/*
static/img/icons/pending/*

# exception to the rule
!static/tmp/.gitkeep
!static/css/.gitkeep
!static/img/profiles/.gitkeep
!static/img/icons/approved/.gitkeep
!static/img/icons/pending/.gitkeep