node_modules/
node_modules/*
db/*
db/journal
db/diagnostic.data

package-lock.json 
.DS_Store
.code-workspace 
.vscode

# exclude everything
static/css/*
static/tmp/*
static/img/profiles/*
static/img/icons/approved/*
static/img/icons/pending/*
static/css/
static/tmp/
static/img/profiles/
static/img/icons/approved/
static/img/icons/pending/


# exceptions to the rule
!db/.gitkeep
!static/tmp/.gitkeep
!static/css/.gitkeep
!static/img/profiles/.gitkeep
!static/img/icons/approved/.gitkeep
!static/img/icons/pending/.gitkeep 