{
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": false,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"requirePragma": false,
	"proseWrap": "never",
	"printWidth": 300
}
