include includes/header.pug

  title 404 - Not Found
  link(rel='stylesheet', href='/css/404.css')


block body
  a(href="/")
    img(src="img/deadlink.png")
  h1 You found a dead Link.
  a(href="/")
    h1 Go Home
