include includes/header.pug 
  head
    link(rel='stylesheet', href='/css/auth.css')
    title Login    
  body
    include includes/menu.pug
    div#form
      


    //- form(method="post" action="/login")
    //-   input(type="text" name="username" placeholder="Email or Username")
    //-   br
    //-   input(type="text" name="password" placeholder="Password")
    //-   br
    //-   input(type="submit" value="Login")


include includes/footer.pug
