include includes/header.pug 
  head
    link(rel='stylesheet', href='/css/suggest.css')
    title Login    
    script.
      if(document.referrer.includes('/login')){
        alert('Login Failed')
      }
block body
  body
    div.wrapper
      div#splash
        h1 Login
        p
          a(href="./") Go home, you're drunk!
      div#suggest
        form(action="/login" method="post")
          div.item.big
            p Email or Username
            input(type="text" name="username" placeholder="person@someone.com" required)   
          div.item.big
            p Password
            input(type="password" name="password" placeholder="Password" required)
          div.item.big    
            input(type="submit"  style="margin-left: 8px")
    div#notify
      p 

include includes/footer.pug
