include includes/header.pug 
  head
    link(rel='stylesheet', href='/css/suggest.css')
    title Login    

block body
  body
    .wrapper
      #splash
        h1 Login
        p
          a(href="./") Go home, you're drunk!
      #suggest
        form(action="/login" method="post")
          .item.big
            p Email or Username
            input(type="text" name="username" placeholder="person@someone.com" required)   
          .item.big
            p Password
            input(type="password" name="password" placeholder="Password" required)
          .item.big    
            input(type="submit"  style="margin-left: 8px")

include includes/footer.pug
