include includes/header.pug

  script(src='js/register.js')  
  link(rel='stylesheet', href='/css/suggest.css')
  style(type='text/css').
    .item{width: 45%;}
   .item:nth-child(odd) {
      margin: 20px 10% 20px 0;
    }
    .submit{
      margin: 25px auto 0 !important;
    }
    #suggest .submit input{
      cursor: pointer;
    }
    .menu .dropdown.active {
      height: 100px;
    }
    
block body
  body
    div.wrapper
      div#splash
        h1 Register a new user
        p
          a(href="/admin") Or manage existing users.
      div#suggest
          div.item
            p User Level *
            div#country.menu(label="Country Menu")
              p.sel Select a user role
              p &#9662;
              ul.dropdown.inactive
                li="Admin"
                li="Manager"
                li="Reviewer"
          div.item
            p Email
            input(type="text" name="email" placeholder="person@someone.com" required)
          div.item
            p Username
            input(type="text" name="username" placeholder="Joker123" required)    
          div.item
            p Name
            input(type="text" name="first" placeholder="John" required)
          div.item
            p Password
            input(type="password" name="123Password" placeholder="Password" required)
          div.item
            p Verify Password
            input(type="password" name="123Password" placeholder="Verify Password" required)
          div.item
            p User Icon (Square)
            input.fileinput(type="file" name="icon" accept=".png,.jpg,.gif,.svg,.bmp" required)
            button.file(label="Conference Icon")
              p.fileinfo Upload a file  
          div.item.big
            div.rectangle(label="Suggest your conference!" type="submit" action="/suggest")
              p Add this user!
                  


  //- include includes/footer.pug
