include includes/header.pug

  title Design Conferences
  link(rel='stylesheet', href='/css/common.css')
  link(rel='stylesheet', href='/css/submit.css')

block body
  .wrapper
    #splash
      if user
        h1 Add a conference
      if !user
        h1 Suggest a conference
      p 
       a(href="/") Or go back to the list.
    #suggest
      .item.big 
        p CONFERENCE NAME *
        input(type="text" id="nameinput" class="text" aria-label="Text field input for conference submission" placeholder="Cool International Conference of Experience Design")
      .item.big 
        p CONFERENCE WEBSITE *
        input(type="text" aria-label="Website URL input" class="text" placeholder="http://somewhere.cool")
      .item.small
        p COUNTRY *
        #country.menu(aria-label="Country Menu")
          p.sel Select a country...
          p &#9662;
          include includes/countries.pug 
      .item.small
        p CITY *
        input(type="text" aria-label="Conference City name input" class="text" placeholder="Enter the city name...")
      #calendar.item.big
        .controls
          p.left(label="One month less") &#9664;
          p.date(label="Current Month" data-date="")
          p.right(label="One month more") &#9654;
        .datepicker
          .days 
            p Mo
            p Tu
            p We
            p Th
            p Fr
            p Sa
            p Su 
          ul.numbers(aria-label="Datepicker")
        p.selected
        ul
          li.date.hidden
            .circle
            .left
            .right
            p 1
      #description.item.big
        p DESCRIPTION
        textarea(type="text" maxlength="450" aria-label="Conference Description" placeholder="Enter a description...")
      .item.small
        p CONFERENCE ICON (250x250)
        input.fileinput(type="file" name="icon" accept=".png,.jpg,.gif,.svg,.bmp")
        button.file(label="Conference Icon")
          p.fileinfo Upload a file  
      .item.big
        .rectangle(label="Suggest your conference!" type="submit" action="/suggest")
          if !user
            p Suggest this conference!
          if user 
            p Save this conference!

include includes/footer.pug
  script(src="js/submit.js")
