footer
  div#profile
    img(style={"background-image": "url('./img/placeholder.png')"})
    if user.isAdmin
      a(href="/approve") Review
    if user.isAdmin<2
      a(href="/register") Add User
    if user.isAdmin<1
      a(href="/admin") Manage Users
    a(href="/logout") Logout
