doctype html
html(lang=en)
  head
    meta(name="viewport" content="width=800")
    meta(charset="utf-8")
    script(src="js/jquery-3.4.1.min.js")
    script(src="js/common.js")
    link(rel='stylesheet', href='/css/common.css')
