doctype html
html(xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en")
  title="Design Conferences"
  head
    meta(name="viewport" content="width=525")
    meta(charset="utf-8")
    meta(name="Description" content="A complete and updated list of all Design Conferences worldwide.")
    meta(name="theme-color", content="#f4f4f4")
    link(rel="manifest", href="/js/manifest.json")
    
    //-  Facebook Details 
    meta(property="og:title", content="Design Conferenc.es")/
    meta(property="og:description", content="A complete and updated list of all Design Conferences worldwide.")/
    meta(property="og:image", content="img/icons/internal/180_icon.png")/
    meta(property="og:url", content="https://designconferenc.es")/
    //-  Twitter Details 
    meta(name="twitter:title", content="Design Conferenc.es")/
    meta(name="twitter:description", content="A complete and updated list of all Design Conferences worldwide.")/
    meta(name="twitter:image", content="img/icons/internal/180_icon.png")/
    meta(name="twitter:card", content="summary_large_image")/
    
    //-  favicon 
    link(rel="icon", sizes="192x192", href="img/icons/internal/48_icon.png")/
    
    //-  Icon for IE 
    meta(name="msapplication-square70x70logo" content="img/icons/internal/70_icon.png")/
    meta(name="msapplication-square150x150logo" content="img/icons/internal/150_icon.png")/
    meta(name="msapplication-square310x310logo", content="img/icons/internal/310_icon.png")/
    
    //-  iOS icons and meta
    link(rel="apple-touch-icon", sizes="152x152", href="img/icons/internal/152_icon.png")/
    link(rel="apple-touch-icon", href="img/icons/internal/48_icon.png")/
    link(rel="apple-touch-icon", sizes="180x180", href="img/icons/internal/180_icon.png")/
    link(rel="apple-touch-icon", sizes="167x167", href="img/icons/internal/167_icon.png")/
    //-  Splash screen image (image that is displayed when the website is being opened) 
    link(rel="apple-touch-startup-image", href="img/icons/internal/310_icon.png")/ 
    //-  Status bar style 
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")/  
    //-  Title of the website  
    meta(name="apple-mobile-web-app-title" content="Design Conferenc.es")/ 
      
    script.
      if (location.protocol != 'https:') {
        location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
      }
