nav 
  input(type="text" name="Name search" aria-label="Name search" class="text" placeholder="Search this list...")
  #month.menu(aria-label="Month dropdown menu")
    p.sel This month 
    p &#9662;
    ul.dropdown.inactive
      li Any month
      li January
      li February
      li March
      li April
      li May
      li June
      li July
      li August
      li September
      li October
      li November
      li December
  #country.menu(aria-label="Country dropdown menu")
    p.sel Worldwide
    p &#9662;
    include countries.pug 
    
  #search(aria-label="Search Button")
    .svg-wrapper
      svg(height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" )
        rect#shape(height="100%" width="100%" x="0" y="0")
        #text
          span.spot
            p="Search"